# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.xml
*.xml
*.xml
Voiture/__vm/Compile.vmps.xml
*.xml
*.xml
*.xml
*.buildinfo
*.elf
*.hex
*.elf
*.hex
*.hex
*.hex
Voiture/Release/*
Voiture/__vm/*
Voiture/Debug/*
*.buildinfo
*.elf
*.hex
Voiture/__vm/Compile.vmps.xml
Voiture/__vm/Upload.vmps.xml
Voiture/Release/board.buildinfo
Voiture/__vm/Configuration.Release.vmps.xml
Voiture/__vm/Configuration.Release.vmps.xml
Voiture/__vm/Compile.vmps.xml
Voiture/Release/board.buildinfo
Sortie-MicroBuild.txt
Voiture/__vm/Compile.vmps.xml
Voiture/__vm/Upload.vmps.xml
