# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.xml
*.xml
*.xml
Voiture/__vm/Compile.vmps.xml
*.xml
*.xml
*.xml
*.buildinfo
*.elf
*.hex
*.elf
*.hex
*.hex
*.hex
Voiture/Release/Voiture.ino.hex
Voiture/Release/Voiture.ino.elf
Voiture/Release/Voiture.hex
Voiture/Release/Voiture.elf
Voiture/Release/board.buildinfo
Voiture/__vm/.Voiture.vsarduino.h
Voiture/__vm/Compile.vmps.xml
Voiture/__vm/Configuration.Debug.vmps.xml
Voiture/__vm/Configuration.Release.vmps.xml
Voiture/Debug/board.buildinfo
Voiture/Debug/Voiture.elf
Voiture/Debug/Voiture.hex
Voiture/Debug/Voiture.ino.elf
Voiture/Debug/Voiture.ino.hex
Voiture/Debug/Voiture.ino.with_bootloader.hex
Voiture/Debug/Voiture.with_bootloader.hex
